body{

}
.container{
    width:1500px;
    border:solid blue 2px;
}
.dong1{
    width:1500px;
}
.sale {
    list-style: none;
}
.sale li  img {
width:1400px;
}
.dong2{
   
    width: 1500px;
    height: 100px;
    background-color: antiquewhite;
}
.congcu {
    list-style-type: none;
}
.bieutuong {
    padding-right: 20px;
    display: inline-block;
}
.find {
    
    border-right:5px;
    border-radius: 10px;
    padding-left: 1px;
    padding-top: 1px;
    list-style-type:none;
border:2px red solid;
width: 665px;
height:50px;
}
    .find input {
        font-size: 20px;
        border-radius: 10px;
        border: none;
        width:600px;
        height:45px;
    }
    .find img {
        
        padding-left: 5px;
        border:solid 1px lightblue;
        background-color:lightblue;
        border-radius: 5px;
    width:40px;
    height:25px;
    }
     thonng bao 

.thongtin {
    list-style-type: none;
}
    .thongtin li {
    display:inline-block;
    padding:10px;
   
    }
        .thongtin li a {
         text-decoration:none;
         color :black;
        }
            .thongtin li a img {
            text-align:center;
            }
            .thongbao{
                list-style-type: none;
                width:200px;
                position: absolute;
                margin-left: -100px;
                margin-top: 2px;
                display:none;
            }
                .thongbao a {
                    color:black;
                }
            .thongbao li {
                background-color: whitesmoke;
                border-radius: 10px;
             width: 200px;
                
            }
            
            .thongbao li b{
                color:black;
                font-size: 20px;
              
            }
            #dangnhap p{
                padding: 20px;
                text-align: center;
                color:white;
                height: 10px;
                width: 150px;
                background-color: red;
                border-radius: 10px;
            }
            #dangky p{
                padding: 20px;
                text-align: center;
                color:red;
                height: 10px;
                width: 150px;
                border:solid 2px red;
                border-radius: 10px;
            }
            #noidung  img {
                width: 100px;
                height: 50px;
                padding-left: 25px;
            }
           
            .thongtin li:hover .thongbao{
                color:black;
                display:block;
                background-color:whitesmoke;
                border-radius: 10px;
               
            }


 danhnhap_taikhoan 
            .thongtin {
                list-style-type: none;
            }
                
                    
                       
                        .taikhoan{
                            list-style-type: none;
                            width:200px;
                            height: 250px;
                            position: absolute;
                            margin-left: -100px;
                            margin-top: 2px;
                            display:none;
                          
                        
                        }
                           
                        .taikhoan li {
                            background-color: whitesmoke;
                            border-radius: 10px;
                             width: 200px;
                             height: 230px;   
                        }
                        
                        
                        #dangnhap_fb img {
                        width: 15px;
                        height: 15px;
                        }
                        #dangnhap_fb{
                            border: 2px blue solid;
                            border-radius: 10px;
                            width: 120px;
                            height: 300px;
                            background-color: blue;
                            color:whitesmoke
                            
                        }
                       
                       
                        .thongtin li:hover .taikhoan{
                            color:black;
                            display:block;
                            background-color:whitesmoke;
                            border-radius: 10px;
                         
                        }
           
 ngôn ngữ

#hinh img{
    border:solid 2px blue;
    width:25px;
    height: 25px;
}
 
.ngonngu{
    list-style-type: none;
    width:150px;
    height: 100px;
    position: absolute;
    margin-left: -100px;
    margin-top: 2px;
    display:none;
    
}
   
.ngonngu li {
    background-color: whitesmoke;
    border-radius: 10px;
     width: 170px;
     height: 80px;   
}
.ngonngu li img{
    width: 50px;
    height: 25px;
}
.ngonngu li span  :hover{
    border:solid 2px gray;
    width: 100px;
    height: 40px;
}
.thongtin li:hover .ngonngu{
    color:black;
    display:block;
    background-color:whitesmoke;
    border-radius: 10px;
 
}
           


 .giohang 


            .giohang_cap2{
                list-style-type: none;
                width:200px;
                position: absolute;
                margin-left: -100px;
                margin-top: 2px;
                display:none;
            }
                .giohang_cap2 a {
                    color:black;
                }
            .giohang_cap2 li {
                background-color: white;
                
                padding: 20px;
            }
            .giohang_cap2 li b{
                color:black;
                font-size: 20px;
              
            }
            .giohang_tren{
                border-bottom: 10px;
            }
            
            
            .giohang_duoi img {
               
                padding-left: 15px;
                width: 100px;
            } 

            .thongtin li:hover .giohang_cap2{
             
                display:block;
                background-color:white;
               
            }

           
           
           










.cap1{
    padding-bottom:30px;
    list-style-type: none;
    width:200px;
    position: relative;
}
.cap1 li{ 
     width: 20px;
        height: 50px;
}
   
.cap1 img {
     width: 20px;
        height: 50px;
}
.cap1 a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.cap1 img {
  
    width: 25px;
    height: 25px;
}
.cap2{
    list-style-type: none;
    width:200px;
    position: absolute;
    margin-right: 20px;
    margin-top: 2px;
    display:none;
}
    .cap2 a {
        color:black;
    }
.cap2 li {
    background-color: lightgray;
    
    padding: 20px;
}
.cap2 li :hover{
    background-color: gray;
    border:solid  thin lightgray ;
    border-radius:5px;
    color:blue;
}
.cap1 li:hover .cap2{
   
    display:block;
    background-color:lightgray;
   
}


.d3  {
    
    border-right:5px;
    border-radius: 10px;
    padding-left: 1px;
    padding-top: 1px;
    list-style-type:none;
border:2px black solid;
width: 250px;
height:40px;
}
    .d3  input {
        font-size: 10px;
        border-radius: 10px;
        border: none;
        width: 245px;
        height:36px
    }
    .d3  submit{
        background:gray;
        text-transform:uppercase;
        border:1px solid black
    }
    #noidung1{
        display:none;
    }
    .noidung{
        padding:10px;
        text-align:center;

    }
    .noidung :hover{
        color:red;
        border-bottom:2px solid 
    }
    